.App-header {
  margin-bottom: 15px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.item-container {
  background-color: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.item .content {
  padding: 4px 7px;
}

.form-check {
  margin: 8px 0;
}

.hide {
  display: none;
}

.loading-content {
  padding: 10px 0 !important;
}

.no-search-result {
  padding: 33px 23px;
}

.fw-bold {
  font-weight: bold;
}
